MF0491_3 - Cliente/UF1841 - Elaboración de Documentos Web mediante Lenguajes de Marcas/E2.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generado con XMLSpy v2019 rel. 3 sp1 (x64) (http://www.altova.com) -->
<!ELEMENT Hardware (Componente+)>
<!ELEMENT Componente (#PCDATA | Disco_primario | Descripción | Disco_secundario)*>
<!ATTLIST Componente
	tipo CDATA #REQUIRED
>
<!ELEMENT Descripción (#PCDATA)>
<!ELEMENT Disco_primario (#PCDATA)>
<!ELEMENT Disco_secundario (#PCDATA)>
<!ELEMENT Ordenador_alta_gama (Hardware)>
