MF0491_3 - Cliente/UF1841 - Elaboración de Documentos Web mediante Lenguajes de Marcas/E2/Nueva carpeta/DFL-E2-copia.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Componente">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element name="Descripción" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="marca" type="xs:string" use="required"/>
      <xs:attribute name="tipo" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
